#Standard settings for an ACF package project

include (General.config)

TEMPLATE = lib

TARGET_EXT = .arp

CONFIG += dll
CONFIG += link_prl

CONFIG(debug, debug|release){
	DESTDIR = ../../../Bin/DebugQMake
	LIBS += -L../../../Lib/DebugQMake
}
CONFIG(release, debug|release){
	DESTDIR = ../../../Bin/ReleaseQMake
	LIBS += -L../../../Lib/ReleaseQMake
}

!win32-msvc*{
	QMAKE_CFLAGS += -fPIC
}

INCLUDEPATH += ../../../Include
